<div class="cell" 
    (click)="this.toggleColor()" 
    (contextmenu)="this.handleContext($event)"
    (mouseover)="this.handleHover()" 
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    #cell></div>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="contextMenuIsOpen"
[cdkConnectedOverlayHasBackdrop]="true"
(backdropClick)="contextMenuIsOpen = !contextMenuIsOpen"
(overlayOutsideClick)="contextMenuIsOpen = !contextMenuIsOpen"
(overlayKeydown)="contextMenuIsOpen = !contextMenuIsOpen"
>
    <div class="color-picker">
        <div class="color-picker__color-1" (click)="setActiveColor('pink')"></div>
        <div class="color-picker__color-2" (click)="setActiveColor('coral')"></div>
        <div class="color-picker__color-3" (click)="setActiveColor('darkPurple')"></div>
        <div class="color-picker__color-4" (click)="setActiveColor('gold')"></div>
        <div class="color-picker__color-5" (click)="setActiveColor('aqua')"></div>
    </div>
</ng-template>