<div class="cell" 
    (click)="this.toggleColor()" 
    (contextmenu)="this.handleContext($event)"
    (mouseover)="this.handleHover()" 
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    #cell></div>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="contextMenuIsOpen"
[cdkConnectedOverlayHasBackdrop]="true"
(backdropClick)="contextMenuIsOpen = !contextMenuIsOpen"
(overlayOutsideClick)="contextMenuIsOpen = !contextMenuIsOpen"
>
<ul class="example-list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
</ng-template>